/*navigatie balk*/
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: royalblue;

}


nav>ul>li>a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: skyblue;
}

nav>ul>li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: royalblue;

}

nav>ul>li {
  border-right: 1px solid #bbb;
}



h1 {
  text-align: center;
}


body{
  background-color: ghostwhite;
}

/*PROFILE CODE*/
.dinand {
  background-color: gainsboro;
  margin-right: 80px;
  margin-left: 80px;
  padding-bottom: 150px;
}

.hobby{
  list-style: none;
}

.activities {}

.ossaert{
  position: relatives;
  width: 250px;
  float: right;
  margin-right: 250px;
}


article {
  background-color: gainsboro;
  margin-right: 200px;
}

section {
  background-color: gainsboro;
  margin-right: 400px;
}