/*navigatie balk*/
nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: royalblue;

}


nav>ul>li>a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: skyblue;
}

nav>ul>li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: royalblue;

}

nav>ul>li {
  border-right: 1px solid #bbb;


}

/*einde nav*/


h1 {
  text-align: center;
}


body {
  background-color: ghostwhite;
}

/*PROFILE CODE*/
.dinand {
  background-color: gainsboro;
  margin-right: 80px;
  margin-left: 80px;
  padding-bottom: 150px;
}


.activities {
  padding-top: 10px;
}

.ossaert {
  position: relatives;
  width: 250px;
  float: right;
  margin-right: 250px;
}

.character {
  padding-top: 10px;
}

article {
  background-color: gainsboro;
  margin-right: 200px;
}

section {
  background-color: gainsboro;
  margin-right: 400px;
}

/*Dashboard code*/

.toetsen {
  padding-top: 15px; 
}

th, td {
  border: 1px solid black;
  background-color: darkturquoise;
}

.EC{
  float: right;
  margin-right: 50px;
  padding: 10px;
  background-color:lightskyblue ;
}

.schooljaar{
  background-color: gainsboro;
  margin: 40px;
  padding: 15px;

}