/*algemeen voor tekst*/

body {
    font-family: Berlin sans FB;
    font-size: larger;
    background-color: rgba(241, 233, 233, 0.832);
}

body p {
    text-align: center;
}

body h1 {
    text-align: center;
    font-size: 35px;
}

body h2 {
    text-align: center;
}

article {
    border-radius: 20px;
    background: gainsboro;
    margin: 50px;
    padding: 10px;
}

/*footer code*/
footer {
    width: 100%;
    height: 80px;
    background-color: lightblue;

}

/*tabel code algemeen*/
table {
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 3px solid black;
    border-collapse: collapse;
}

th,
td {
    background-color: lightskyblue;
    padding: 20px;
}

th {
    font-size: 30px;
}

td p {
    text-align: left !important;
    font-size: 20px;
}

.SwotTable {
    border-radius: 20px;
    background-color: gainsboro;
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

/*checkbox code*/
input {
    margin-top: 15px;
}

/*specific code*/

/*post 3*/

.CourseExperience {
    border-radius: 15px;
    background-color: rgb(168, 166, 166);
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 20px;
    padding: 20px;
}

/*post 4*/

.feedback {
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgba(134, 133, 133, 0.664);
    margin-left: 120px;
    margin-right: 120px;
    padding: 20px;
    border-radius: 20px;
}

.thoughts {
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: rgba(134, 133, 133, 0.664);
    margin-left: 120px;
    margin-right: 120px;
    padding: 15px;
}